{% from "_includes/forms" import autosuggestField, booleanMenuField %}

{{ autosuggestField({
    label: 'Publishable key'|t('commerce'),
    id: 'publishableKey',
    class: 'ltr',
    name: 'publishableKey',
    value: gateway.publishableKey,
    suggestEnvVars: true,
    errors: gateway.getErrors('publishableKey')
}) }}

{{ autosuggestField({
    label: "Secret key"|t('commerce'),
    id: 'secretKey',
    class: 'ltr',
    name: 'secretKey',
    value: gateway.secretKey,
    suggestEnvVars: true,
    errors: gateway.getErrors('secretKey')
}) }}

{{ booleanMenuField({
    label: 'Send cart information to Stripe when making transactions?'|t('commerce'),
    id: 'sendCartInfo',
    name: 'sendCartInfo',
    includeEnvVars: true,
    errors: gateway.getErrors('sendCartInfo'),
    value: gateway.getSendCartInfo(false)
}) }}
